

<h1>Customers</h1>


<div class="row"><a asp-action="Create" asp-controller="Clients" class="col-3 m-3 btn-success">Create Client</a></div>
<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>MiddleName</th>
        <th>Gender</th>
        <th>MaritalStatus</th>
        <th>DateOfBirth</th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>RegistrationDate</th>
        <th width="100px">Action</th>
    </tr>

</thead>
<tbody>
    
    <tr>
        <td>Florence</td>
        <td>modupe</td>
        <td>lawal</td>
        <td>female</td>
        <td>single</td>
        <td>18/04/1994</td>
        <td>Nigeria</td>
        <td>Lagos</td>
        <td>Ikeja</td>
        <td>12/04/2022</td>
        <td>
        <a class="btn-warning">Edit</a>
        <a class="btn-danger">Delete</a>
    </tr>
    

     <tr>
        <td>Florence</td>
        <td>modupe</td>
        <td>lawal</td>
        <td>female</td>
        <td>single</td>
        <td>18/04/1994</td>
        <td>Nigeria</td>
        <td>Lagos</td>
        <td>Ikeja</td>
        <td>12/04/2022</td>
        <td>
        <a class="btn-warning">Edit</a>
        <a class="btn-danger">Delete</a>
    </td>
    </tr>
     <tr>
        <td>Florence</td>
        <td>modupe</td>
        <td>lawal</td>
        <td>female</td>
        <td>single</td>
        <td>18/04/1994</td>
        <td>Nigeria</td>
        <td>Lagos</td>
        <td>Ikeja</td>
        <td>12/04/2022</td>
        <td>
        <a class="btn-warning">Edit</a>
        <a class="btn-danger">Delete</a>
    </td>
    </tr>
</tbody>
</table>